<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="message" name="welcome message" schema="schema/message.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.github.xms.firstrcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.github.xms.firstrcp.Perspective"
            id="FirstRCP.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="FirstRCP.application"
            name="first_rcp_project">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="FirstRCP.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.github.xms.firstrcp.actions.SampleAction"
               definitionId="FirstRCP.commands.sampleCommand"
               icon="icons/sample.gif"
               id="com.github.xms.firstrcp.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="FirstRCP.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="FirstRCP.commands.category"
            id="FirstRCP.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FirstRCP.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   
   
</plugin>
